# =========================
# Secrets
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# OS / IDE
# =========================
.DS_Store
.vscode/
.ipynb_checkpoints/